<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logDir" value="${basedir}/logs" />
  <variable name="layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:uppercase=true:padding=5} [${pad:padding=-15:inner=${processid}-${processname}}] ${pad:padding=-45:inner=${logger}(${callsite-linenumber})} : ${message}${onexception:${newline}${exception:format=ToString,Properties,Data}}" />

  <targets>
    <target xsi:type="ColoredConsole" name="coloredConsole" layout="${var:layout}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    
    <target xsi:type="File"
            name="file"
            fileName="${var:logDir}/${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="30"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${var:layout}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minLevel="Info" writeTo="coloredConsole,file" final="true" />
    <logger name="*" minLevel="Info" writeTo="coloredConsole,file" />
  </rules>
</nlog>
