<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logDir" value="${basedir}/logs" />
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${var:layout}" />

    <target xsi:type="File"
            name="file"
            fileName="${var:logDir}/${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="30"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${var:layout}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minLevel="Info" writeTo="console,file" />
    <logger name="*" minLevel="Info" writeTo="console,file" />
  </rules>
</nlog>
